body {
      
    border: solid;
    border-color: white;
    background-color: black;
}

.container {
    text-align: center;
    background-image: url("../images/image6.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: white;
    background-color: black;
    font-size: 35px;
    width: 500px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    border: double; 
    border-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

#rules {
    color: white;
    background-color: black;
    font-size: 18px;
    width: 700px;
    height: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    border: double;
    border-color: white;
    margin-bottom: 10px;
}

#randomNumber {
    width: 200px;
    font-size: 35px;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    border: double;
    border-color: white;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#wins {
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    border: double;
    border-color: white;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#losses {
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    border: double;
    border-color: white;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.firstCrystal {
    width: 150px;
    height: 150px;
    border: double;
    border-color: white;
    margin-right: 5px;
    
}
.secondCrystal {
    width: 150px;
    height: 150px;
    border: double;
    border-color: white;
    margin-right: 5px;
}
.thirdCrystal {
    width: 150px;
    height: 150px;
    border: double;
    border-color: white;
    margin-right: 5px;
}
.fourthCrystal {
    width: 150px;
    height: 150px;
    border: double;
    border-color: white;
}
#scoreText {
    width: 500px;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    border: double;
    border-color: white;
    margin-bottom: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#currentScore {
    width: 500px;
    font-size: 35px;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    border: double;
    border-color: white;
    margin-bottom: 10px;
    padding-top: 75px;
    padding-bottom: 75px;
    
}